

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>{{ header }}</h2>-->
<!--    <p>Langs: {{ langs.0 }}, {{ langs.1 }}, {{ langs.2 }}, {{ langs.3 }} </p>-->
<!--    <p>Name: {{ user.name }}, age: {{ user.age }} </p>-->
<!--    <p>Address: street {{ address.0 }}, house {{ address.1 }}, flat {{ address.2 }}</p>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--{% load static %} &lt;!&ndash; подключаем статические файлы &ndash;&gt;-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css'%}">-->
<!--    <title>Index page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>My beautiful cat</h1>-->
<!--    <img src="{% static 'images/1560329641_2.jpg'%}" alt='Picture is not open'>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <p>{% now 'Y' %}</p>-->
<!--    <p>{% now 'F j Y' %}</p>-->
<!--    <p>{% now 'F j, Y, P' %}</p>-->
<!--    {% if n > 0 %}-->
<!--        <p>Число положительное</p>-->
<!--    {% elif n < -10 %}-->
<!--        <p>Число меньше -10</p>-->
<!--    {% else %}-->
<!--        <p>Число в диапазоне от 0 до -10</p>-->
<!--    {% endif %}-->
<!--    <ul>-->
<!--        {% for i in test %}-->
<!--        <li>{{ i }}</li>-->
<!--        {% empty %}-->
<!--        <li>Нет значения</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    {% with name='Nina' age=29 %}-->
<!--        <div>-->
<!--            <p>Name: {{ name }}</p>-->
<!--            <p>Age: {{ age }}</p>-->
<!--        </div>-->
<!--    {% endwith %}-->
<!--</body>-->

<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->

<!--    <table>-->
<!--        {{ form }}-->
<!--    </table>-->
<!--    <input type="submit" value="Send">-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang= "en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>as_table</h2>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <table>-->
<!--        {{ form.as_table }}-->
<!--        </table>-->
<!--        <input type="submit" value="send">-->
<!--    </form>-->
<!--    <h2>as_ul</h2>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <ul>-->
<!--        {{ form.as_ul }}-->
<!--        </ul>-->
<!--        <input type="submit" value="send">-->
<!--    </form>-->
<!--    <h2>as_p</h2>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <div>-->
<!--        {{ form.as_p }}-->
<!--        </div>-->
<!--        <input type="submit" value="send">-->
<!--    </form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="send">
    </form>
</body>
</html>