{% extends 'base_user.html' %}
{% block title %} About user {% endblock title %}
{% block header %} {% endblock header %}
{% block info %}
<!--<style>-->
<!--    ol, h3 {-->
<!--        color: red;-->
<!--    }-->
<!--</style>-->
<h3>Privacy data</h3>
<ol>
    <li>id user</li>
    <li> age </li>
    <li> address </li>
</ol>

{% endblock info %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->